
 <div class="container "><!--d-flex-->
    <div class="row " style="margin-top: 10rem;">
      <div class="col-lg-6 col-md-6 col-xs-12">
<div class="jumbotron" style="background-color: #fff;">
  <h1>Secure Your Image Share.</h1>
  <p class="lead">
    Share Your images securely. 
  </p>
  <a class="btn btn-lg btn-primary" href="" routerLink="/auth/login" role="button">Login</a>
</div>
</div>
<div class="col-lg-6 col-md-6 col-xs-12">
  <figure>
          <img class="img-fluid" src="./assets/img/Share.jpg" >
        </figure>
</div>
</div>
</div>