.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:focus, .btn-primary.active:hover, .show > .btn-primary.dropdown-toggle, .show > .btn-primary.dropdown-toggle:focus, .show > .btn-primary.dropdown-toggle:hover {
    background-color: #03a9f4 !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
}
.btn-primary, .btn-primary {
    background-color: #03a9f4 !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
}